  .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10vmin;
    font-weight: bold;
    color: var(--accent-color);
    background: black;
    border: var(--default-primary-border);
    border-radius: var(--default-border-radius);
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19); /* More elevated box shadow */
  }

  .cell:active, .cell:hover, .cell.winner {
    cursor: pointer;
    color: var(--content-background-color);
    background: #262F39;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4), 0 8px 30px rgba(0, 0, 0, 0.3); /* Elevated shadow on hover/active */
  }
  .cell-content {
    overflow: hidden;
    width: 0;
    height: 0;
    transition: width var(--selection-animation-duration), height var(--selection-animation-duration);
  }
  
  .cell-content.populated {
    width: 12vmin;
    height: 12vmin;
  }