/* Board.css */
#board {
  display: grid;
  grid-template-columns: repeat(3, 12vmin);
  grid-template-rows: repeat(3, 12vmin);
  grid-gap: 1.5vmin;
  margin: 2vmin auto;
  justify-content: center;
  background-color: black;
}

#board div {
  background-color: inherit;
  border: 0.5vmin solid #E1E8ED;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vmin;
  margin-top: 11rem;
}

